

<div class="card">

<div class="card-header bg-primary">
  <h4 style="color: white"><strong><i class="fa fa-medkit"></i>&nbsp;&nbsp;My Medicines</strong></h4>
</div>

<div class="card-body">



<div *ngFor="let med of meds" class="card mb-3">

  <div class="card-header bg-primary">
    
        <strong><kbd>{{med.name}}</kbd></strong> &nbsp;
        <div class="pull-right">
            <a routerLink="/meds/edit/{{med._id}}" class="btn btn-sm btn-dark"><i class="fa fa-pencil fa-light" aria-hidden="true"></i></a>
            &nbsp; 
            <a routerLink="/meds/details" (click)="deleteClicked(med._id)" class="btn btn-sm btn-dark"><i class="fa fa-remove fa-light" aria-hidden="true"></i></a>
        </div>
        

  </div>
    
  

  <div class="card-body">
    <table class="table">
      <tr>
        <td>
          Purpose: 
        </td>
        <td>
          {{med.purpose}}
        </td>
      </tr>
      <tr>
          <td>
            Composition:
          </td>
          <td>
            {{med.composition}}
          </td>
      </tr>
      <tr>
          <td>
            My Review:
          </td>
          <td>
            {{med.myReview}}
          </td>
      </tr>
      <tr>
          <td>
            Time (To be taken at):
          </td>
          <td>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let time of med.toBeTakenAt">
                    {{time.hh}} : {{time.mm}} {{time.amorpm}}
                </li>
            </ul>
          </td>
      </tr>
    </table>
  </div>

</div>
</div>

</div>