<div class="card">
  <div class="card-header bg-primary"><h4 style="color:white"><strong><i class="fa fa-user"></i>&nbsp;&nbsp;Developer's Contact Information</strong></h4>
  </div>
  <div class="card-body">

    <ul class="list-group">
      <li class="list-group-item">
        <i class="fa fa-id-card"></i>&nbsp;&nbsp;Swabhimaan Dash
      </li>
      <li class="list-group-item">
        <i class="fa fa-phone"></i>&nbsp;&nbsp;+91-9742291489
      </li>
      <li class="list-group-item">
        <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;+91-9439307550
      </li>
      <li class="list-group-item">
        <i class="fa fa-envelope"></i>&nbsp;&nbsp;dashswabhimaan@gmail.com
      </li>
      <li class="list-group-item">
        <i class="fa fa-github"></i>&nbsp;&nbsp;<a href = "https://github.com/swabhi7">https://github.com/swabhi7</a>
      </li>
      <li class="list-group-item">
        <i class="fa fa-instagram"></i>&nbsp;&nbsp;<a href= "https://www.instagram.com/dashswabhimaan/">https://www.instagram.com/dashswabhimaan/</a>
      </li>
      <li class="list-group-item">
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<a href="http://www.fyction.net">http://www.fyction.net</a>
      </li>
    </ul>

    
    
    
    
    
    

  </div>
</div>