<div class="card">
  <div class="card-header bg-primary">
    <h4 style="color:white"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;About TakeYourMeds Web App<strong></strong></h4>
  </div>
  <div class="card-body">
    <p>
      TakeYourMeds is a web app built with the central purpose to remind the users to take their daily medicines.
      Users can signup to create an account and then login to enter into their dashboard.
      After that users can proceed to add their daily medicines with details like timings of the doses.
      If an user has already taken a particular dose for the day, then they should hit 'taken' for that dose.
      If the time of a dose runs out and the dose is not taken yet, then the user will be sent a reminder email to take the dose.
    </p>
  </div>
</div>
