<div class="card">
<div class="card-body">



<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="newUser.email"
      #emailip="ngModel"
      required
      [ngClass]="{'is-invalid': emailip.errors && emailip.touched}"
    >
    <div [hidden]="!emailip.errors?.required" class="invalid-feedback">Email is required</div>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" [(ngModel)]="newUser.phone">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="newUser.name">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="newUser.password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="cpassword">
  </div>
  
  <button [disabled]="!signupForm.valid" type="submit" class="btn btn-block btn-primary mb-3">Sign Up</button>
</form>



</div>
</div>